{% extends 'VlRadRestBundle:Default:skeleton.html.twig' %}
{% block radrest_content %}
<h1>Create</h1>
{% if form is defined %}
  {{ form(form, {action: path(controller.route('post'))}) }}
{% endif %}
{% include 'VlRadRestBundle:Default:links.html.twig' with { controller: controller } only %}
{% endblock %}
